# macOS
*.DS_Store

# API credentials
*.ini

# May not want to commit lyrics text files
*.txt
*.json

# Jupyter
/Notebooks
.ipynb_checkpoints/

# Test files
.cache/

# Python module things
*.pyc

# Python cache stuff
*.egg-info
__pycache__
dist
build
.idea

# VCR cache files
test_get_annotation
test_get_referents_web_page
test_get_song_annotations
test_search_genius_web
test_search_song