name: Linting

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint_code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install pylint
      - name: Analyze code with flake8
        run: flake8 --extend-ignore=E501 $(git ls-files '*.py')
      - name: Analyze code with pylint
        run: pylint --fail-under=8 --max-line-length=120 $(git ls-files '*.py')
